/mat_1/.idea
/mat_1/__pycache__
/mat_1/.ipynb_checkpoints
.ipynb_checkpoints
mat_2/.idea/inspectionProfiles/profiles_settings.xml
/mat_2/.idea
/mat_3/.idea
/mat_3/__pycache__
/Coursework_CompMat/.idea
/MM_coursework/.idea
